div.row
	div.large-8.large-centered.medium-10.medium-centered.columns
		div.row
			div.feature-label.large-2.medium-3.small-3.columns
				img(src="/images/myth.jpg")
			div.feature-text.large-10.medium-9.small-9.columns
				span.copy
					a(href="https://www.facebook.com/SixtyWattShaman", target="_blank") Sixty Watt Shaman actually started in a basement over 20 years ago...  get the whole story      