div.row
	div.large-8.large-centered.medium-10.medium-centered.columns
		div.row
			div.feature-label.large-3.medium-4.small-5.columns
				img(src="/images/get_stuff.jpg")
			div.feature-text.large-9.medium-8.small-7.columns
				span.copy
					a(href="http://sixtywattshaman.bigcartel.com/") Sixty Watt Shaman Stuff via Big Cartel...  gotta get some!